{% extends 'base.html.twig' %}

{% block body %}
    <div class="flex flex-col">
        <div class="flex p-3 z-10 fixed top-0 bg-gray-900 w-full" style="background-color: #202020;">
            <div class="text-3xl pl-2">
                <i class="fas fa-bars"></i>
                <span class="select-none cursor-pointer rounded hover:bg-gray-200 px-1">
                    <i class="fas fa-play"></i> UnTube
                </span>
            </div>

            <div class="flex-1 justify-center hidden sm:flex">
                <input type="text" placeholder="Search"
                       class="border border-grey px-3 py-2 w-1/2 max-w-md rounded-l"
                       style="background-color: #181818;"/>
                <button class="items-center px-5 border border-l-0 rounded-r hover:bg-grey-light">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>

        <div class="flex-1 bg-grey-lightest z-0 p-5 mt-20">
            <div class="flex flex-wrap max-w-5xl mx-auto">
                <div class="w-full md:flex-1">

                    <div style="width: 760px; height: 400px;" class="bg-black relative"></div>
                    {#                    <div class="bg-black relative mb-3" style="padding-top: 55%"> #}
                    {#                        <iframe  class="w-full h-full absolute pin-x pin-t" #}
                    {#                                 src="https://www.youtube.com/embed/F7-bW2y6lcI" #}
                    {#                                 allow="accelerometer; autoplay; encrypted-media; gyroscope" #}
                    {#                                 allowfullscreen> #}
                    {#                        </iframe> #}
                    {#                    </div> #}

                    <div class="flex flex-wrap items-end">
                        <div class="pb-2">
                            <h1 class="text-xl my-2">Title</h1>
                            <span class="text-base">69 views</span>
                        </div>
                        <div class="ml-auto">
                            <div class="flex relative pb-2">
                                <div class="flex items-center">
                                    <i class="fas fa-caret-up"></i>
                                    <span class="text-xs ml-1">420</span>
                                </div>
                                <div class="flex items-center ml-3">
                                    <i class="fas fa-caret-down"></i>
                                    <span class="text-xs ml-1">10</span>
                                </div>
                            </div>
                        </div>
                        <div class="w-full border-t m-0 mb-3"></div>
                    </div>
                </div>

                <aside class="w-full md:max-w-xs xl:max-w-full xl:w-1/4 md:pl-5 mt-5 md:mt-0">
                    <div class="w-full">
                        <div class="flex w-full items-center justify-between mb-3">
                            <span>Suggestions</span>
                        </div>
                        <div class="flex flex-wrap w-full mb-3">
                            <div class="w-1/2 bg-black" style="padding-top: 30%"></div>
                            <div class="w-1/2 pl-2">
                                <h3 class="text-base mb-2">Title</h3>
                                <p class="text-sm mb-1">Channel</p>
                                <p class="text-sm mb-1">123K views</p>
                            </div>
                        </div>
                        <div class="flex flex-wrap w-full mb-3">
                            <div class="w-1/2 bg-black" style="padding-top: 30%"></div>
                            <div class="w-1/2 pl-2">
                                <h3 class="text-base mb-2">Title</h3>
                                <p class="text-sm mb-1">Channel</p>
                                <p class="text-sm mb-1">3K views</p>
                            </div>
                        </div>
                        <div class="flex flex-wrap w-full mb-3">
                            <div class="w-1/2 bg-black" style="padding-top: 30%"></div>
                            <div class="w-1/2 pl-2">
                                <h3 class="text-base mb-2">Title</h3>
                                <p class="text-sm mb-1">Channel</p>
                                <p class="text-sm mb-1">4K views</p>
                            </div>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
{% endblock %}
